%nav
  %ul
    %li.title riak-ruby-client
    %li= link_to 'Home', 'index.html'
    %li= link_to 'Key-Value', 'kv.html'
    %li= link_to 'Search', 'yz.html'
    %li= link_to 'Secondary Indexes', '2i.html'
    %li= link_to 'CRDTs', 'crdt.html'
    %li= link_to 'Bucket Types', 'bucket_types.html'
    %li= link_to 'Bucket Properties', 'bucket_props.html'
    %li= link_to 'Character Encodings', 'encoding.html'
    %li= link_to 'Testing', 'rspecs.html'
    %li.space= link_to 'Installation', 'install.html'
    %li= link_to 'Configuration', 'config.html'
    %li= link_to 'Source', 'https://github.com/basho/riak-ruby-client'
    %li= link_to 'Gem', 'https://rubygems.org/gems/riak-client'
